@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 85px; }
  .header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0); }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__list li {
    padding: 0px 50px 0 0; }
  .menu__list li:nth-child(1) {
    position: relative; }
    .menu__list li:nth-child(1):before {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      top: 5px;
      margin: 0 0 0 110px;
      background-color: #605c6b; }
      @media (max-width: 767px) {
        .menu__list li:nth-child(1):before {
          display: none; } }
  .menu__list li:nth-child(3) {
    margin: 0 0 0 150px;
    position: relative; }
    .menu__list li:nth-child(3):after {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      top: 5px;
      margin: 0 0 0 25px;
      background-color: #605c6b; }

@media (max-width: 767px) and (max-width: 767px) {
  .menu__list li:nth-child(3):after {
    display: none; } }
  .menu__list a {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #4d4959;
    overflow: auto; }
  .menu__icon {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 1; }
    .menu__icon:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: #4d4959;
      top: 17px;
      left: 50%; }
    .menu__icon:after {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: #4d4959;
      top: 4px;
      left: 50%; }
    .menu__icon span {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: #4d4959;
      top: 30px;
      left: 50%; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: scroll;
    padding: 170px 0 0 0px; }
    .menu__list li {
      margin: 0 !important;
      padding: 0 0 30px 0;
      position: relative; }
      .menu__list li:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 65%;
        left: 45%;
        background-color: #fff; }
      .menu__list li:last-child:before {
        display: none; }
      .menu__list li:nth-child(1):after {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 65%;
        left: 45%;
        background-color: #fff; }
    .menu__list a {
      color: #fff;
      font-size: 20px; }
  .menu__icon.active:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff; }
  .menu__icon.active:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff; }
  .menu__icon.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .menu__body.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; } }

.footer {
  background-color: #f7f7f7;
  padding: 100px 0; }
  @media (max-width: 767px) {
    .footer {
      padding: 50px 0; } }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .footer__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .footer__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.333%;
    flex: 1 1 33.333%; }
  @media (max-width: 767px) {
    .footer__adress {
      text-align: center;
      margin: 0 0 40px 0; } }
  .footer__adress p:first-child {
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    color: #848789; }
  .footer__adress p:last-child,
  .footer__adress p:nth-child(2) {
    font-size: 13.9px;
    font-style: italic;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    color: #848789; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.social__link {
  margin: 0 15px 0 0; }

.dev {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .dev span {
    margin: 0 9px 0 0;
    font-size: 13.9px;
    line-height: 17px;
    font-style: italic;
    color: #848789; }
  @media (max-width: 767px) {
    .dev {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 40px; } }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ibg img {
    display: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-list {
    overflow: hidden; }
  .slick-slider .slick-track {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .slick-slider .slick-dots {
    padding: 100px 0px 0px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .slick-slider .slick-dots li {
      margin: 0px 5px; }
      .slick-slider .slick-dots li button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #c8c8c8;
        background-color: transparent; }
      .slick-slider .slick-dots li.slick-active button {
        background-color: #a9afb3; }
    @media (max-width: 1100px) {
      .slick-slider .slick-dots {
        padding: 50px 0px 0px 0px; } }
    @media (max-width: 767px) {
      .slick-slider .slick-dots {
        padding: 30px 0px 0px 0px; } }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 0px -15px; }

.form__column {
  padding: 0px 15px; }

.btn {
  display: inline-block;
  padding: 0px 0px; }
  .btn.fw {
    width: 100%; }

.select-block {
  position: relative; }

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px; }

.select {
  position: relative;
  cursor: pointer; }
  .select .select-title {
    z-index: 1;
    width: 100%;
    height: 55px;
    border: 1px solid #dedede;
    position: relative;
    background-color: #fff; }
  .select .select-title__arrow {
    position: absolute;
    top: 0;
    right: 0px;
    width: 45px;
    height: 100%;
    background: url("../img/icons/select-arrow.svg") center no-repeat; }
  .select .select-title__value {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 53px;
    display: block;
    overflow: hidden;
    padding: 0 45px 0 25px;
    white-space: nowrap;
    text-transform: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .select .select-options {
    position: absolute;
    z-index: 10;
    top: 54px;
    display: none;
    overflow: hidden;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 10px 20px 10px 25px; }
  .select .select-options-scroll {
    max-height: 80px;
    overflow: auto; }
  .select .select-options-list {
    padding: 0px 0px 0px 0px; }
  .select .select-options__value {
    color: #000;
    font-size: 20px;
    margin: 0px 0px 15px 0px; }
    .select .select-options__value:last-child {
      margin: 0px 0px 0px 0px; }
    .select .select-options__value:hover {
      color: #000; }

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer; }
  .check input {
    display: none; }
  .check:before {
    content: '';
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #a3a3a3;
    position: absolute; }
  .check.active:before {
    background: url("../img/icons/check.png") center no-repeat; }

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300; }
  .option:last-child {
    margin-bottom: 0px; }
  .option input {
    display: none; }
  .option:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #7f7f7f;
    border-radius: 50%; }
  .option.active:before {
    background: url("../img/icons/option.png") center no-repeat; }

.rating-block {
  display: table;
  font-size: 0; }

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .rating.edit .star {
    cursor: pointer; }
  .rating .star {
    width: 17px;
    height: 14px;
    display: inline-block;
    position: relative;
    z-index: 3; }

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%; }

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%; }

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle; }

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff; }

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300; }

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer; }
  .quantity__btn:before {
    font-size: 25px;
    display: inline-block;
    line-height: 10px;
    color: #a9a9a9; }
  .quantity__btn:hover:before {
    color: #da0005; }
  .quantity__btn.dwn {
    top: 25px; }

.category-params-item-price-table {
  margin-bottom: 25px; }
  .category-params-item-price-table .cell:first-child {
    padding-right: 15px;
    position: relative; }
    .category-params-item-price-table .cell:first-child:after {
      content: '-';
      position: absolute;
      right: -4px;
      top: 8px;
      font-size: 20px; }
  .category-params-item-price-table .cell:last-child {
    padding-left: 15px; }
  .category-params-item-price-table .cell input {
    height: 37px;
    border: 2px solid #393939;
    background-color: #ffffff;
    text-align: center;
    font-size: 12px;
    color: #393939;
    font-weight: 500;
    width: 100%; }

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative; }
  .category-params-item-price-range .ui-slider-range {
    background-color: #000;
    height: 2px;
    position: relative; }
  .category-params-item-price-range .ui-slider-handle {
    width: 23px;
    height: 28px;
    border: 3px solid #fbfbfb;
    background-color: #ea5922;
    display: block;
    position: absolute;
    top: -14px;
    margin-left: -12px;
    cursor: pointer; }
    .category-params-item-price-range .ui-slider-handle span {
      position: absolute;
      bottom: -18px;
      left: 50%;
      width: 50px;
      text-align: center;
      font-size: 10px;
      margin-left: -25px;
      font-weight: 500;
      color: #94a6aa; }

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px; }
  @media (max-width: 767px) {
    .form__info {
      width: 50px;
      height: 50px;
      line-height: 50px; } }

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px; }
  .form-range-line .ui-slider-range {
    background-color: #093454;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 4px 4px; }
  .form-range-line .ui-slider-handle {
    background: url("../img/icons/range.svg") 0 0 no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    margin: -9px 0px 0px -14px;
    top: 0;
    left: 0;
    cursor: pointer; }
  .form-range-line .ui-state-hover {
    background: url("../img/icons/range_a.svg") 0 0 no-repeat; }

.form-range-values {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 0px 0px 0px; }

.form-range-values__item {
  font-size: 12px;
  color: #888; }

body, html {
  height: 100%;
  font-family: 'Lato'; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.generation {
  background-color: #f7f7f7;
  padding: 117px 0 100px 0; }
  @media (max-width: 767px) {
    .generation {
      padding: 50px 0 60px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0 0 34px 0; }
  .block__title {
    margin: 0 0 34px 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738; }
  .block__text {
    font-size: 18px;
    line-height: 34px;
    color: #848789; }
    .block__text_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;
      position: relative; }
      .block__text_j:after {
        position: absolute;
        content: '';
        margin: 80px auto 0 auto;
        left: 45%;
        width: 50px;
        height: 1px;
        background-color: rgba(53, 55, 56, 0.2); }
        @media (max-width: 1500px) {
          .block__text_j:after {
            margin: 45px auto 0 auto; } }

.brands__rev .brands__column {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.brands__rev .brands__column_b {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

@media (max-width: 1100px) {
  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .brands_last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .brands_last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1100px) {
    .brands__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 767px) {
    .brands__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.brands__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%; }
  .brands__column_b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.667%;
    flex: 0 1 66.667%; }

.brands__content {
  padding: 70px 68px 95px 67px;
  position: relative; }
  @media (max-width: 1500px) {
    .brands__content {
      padding: 30px 38px 45px 37px; } }
  .brands__content:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    bottom: -10px;
    left: 50%; }

.brands__image {
  padding: 0 0 38% 0; }

.item {
  display: block;
  height: 100%;
  position: relative; }
  .item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 188, 159, 0.3); }
    .item__logo span {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff;
      margin: 10px 0 0 0; }
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .item:hover .item__logo {
    visibility: visible; }
  @media (max-width: 1100px) {
    .item {
      padding: 0 0 70% 0; } }

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0; }
  .slider__body {
    margin: 0 0 20px 0; }
  .slider__item {
    text-align: center; }
  .slider__icon {
    margin-bottom: 37px; }
  .slider__title {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738; }
    .slider__title span {
      font-weight: 300;
      color: #848789; }
  .slider__text {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    color: #848789; }

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.shop__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.666%;
  flex: 0 1 16.666%; }
  .shop__column_b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }

.shop__footer {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center; }

.shop__btn {
  display: inline-block;
  padding: 20px 56px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.49); }

@media (max-width: 1100px) {
  .shop__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .shop__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .shop__column:first-child {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; }
    .shop__column:last-child {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; }
  .shop__btn {
    padding: 10px 26px; }
  .shop__footer {
    padding: 55px 0; } }

.block-shop {
  height: 100%; }
  .block-shop__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .block-shop__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .block-shop__item {
    height: auto;
    padding: 0 0 50% 0; }
    .block-shop__item_b {
      padding: 0 0 200% 0; }
    .block-shop__item_l {
      padding: 0 0 100% 0; }

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0; }

.subscribe__logo {
  margin: 0 0 40px 0; }

.subscribe__label {
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789; }

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.subscribe__input {
  padding: 0 8px 0 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .subscribe__input .input {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
    text-align: left;
    border: 1px solid #d3d7d9;
    background-color: #ffffff;
    height: 69px;
    width: 100%;
    padding: 18px; }
    .subscribe__input .input.focus {
      font-style: normal; }
    .subscribe__input .input.err {
      border: 1px solid red; }

.subscribe__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 126px;
  flex: 0 0 126px; }

.subscribe__btn {
  background-color: #64c29e;
  padding: 26px 45px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: 69px; }

@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0; } }

@media (max-width: 500px) {
  .subscribe__form {
    display: block; }
  .subscribe .input {
    margin: 0 0 8px 0; } }
